.v-card {
  background-color: #f5f5f5;
  padding: 20px !important;
}

.v-data-table-footer {
  display: flex;
  justify-content: space-between !important;
  padding: 10px;
}

.v-table {
  border-radius: 16px !important;
  padding: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}
